<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>droPlay</title>

    <script src="/static/external/react.min.js"></script>
    <script src="/static/external/react-dom.js"></script>
    <script src="/static/external/babel.min.js"></script>
    <script src="/static/external/jquery.min.js"></script>
    <script src="/static/external/jquery-ui-1.12.0/jquery-ui.min.js"></script>
    <script src="/static/external/moment-with-locales.js"></script>

    <link rel="stylesheet" href="/static/external/jquery-ui-1.12.0/jquery-ui.css">
    <link rel="stylesheet" href="/static/external/font-awesome-4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/main.css">
    
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>
  
</html>